@media all and max-width 999px {
.adverisement a img{margin:30px auto}
.main-menu ul li a{padding:25px 11px}
.main-menu ul li.active a{padding:25px 13px 22px}
div#header-style-seven .menu-menu-container{width:500px;float:right}
.welcome .welcome-globe .globe{top:1px;width:200px;margin-left:-100px}
div#header-style-six .logo img{margin:10px 280px}
div#header-style-seven .logo img{margin-top:30px}
div.photo{border:1px solid #e7e7e7;background:#FFF;margin:20px 0 10px;padding:3px}
div.company-photo-container{width:475px;height:250px}
div.company-photo-container img{display:block;height:250px;width:100%}
.user-links{width:100%}
.company-blog-post .company-blog-post-social a{width:35px}
ul.company-tabs li a{padding:0 15px}
div#header-style-three .main-menu ul li a,div#header-style-six .main-menu ul li a{padding:14px 13px 15px}
div#header-style-three .main-menu ul li.active a,div#header-style-six .main-menu ul li.active a{padding:14px 27px 15px}
}
@media only screen and max-width 999px and min-width 768px {
.main-menu select.mnav{width:60%;float:right;margin:30px 0}
}
@media all and max-width 767px {
h1{font-size:2.2857em}
ul.company-tabs li a{padding:0 5px}
.header-top-right{text-align:center;border-top:1px solid #e6e6e6;padding-left:2%;padding-right:2%;margin-left:0;margin-right:0}
.languages{float:none}
.logo a{display:inline-block}
div#header-style-seven .logo img{margin:10px 270px}
.adverisement a img{margin:0 0 10px}
.search-wrapper{background-color:transparent}
.search-wrapper .zone-search{background-color:rgba(77,77,77,0.9)}
.sidebar-container{margin-top:20px}
.search .default-search .input-text{width:43%;margin:20px 2% 0}
.search .default-search .jquery-selectbox{width:43%!important;margin:20px 2% 0}
.search .default-search .submit{float:right;width:140px;margin-right:2%}
.search .advanced-search .slider{width:52.5%}
.search .advanced-search .slider-value{width:17.0625%}
.industries-tabs ul li{width:20%;height:40px}
.industries-tabs ul li:hover{background-image:none}
.industries-tabs ul li a.sports,.industries-tabs ul li a.offices{border-left:1px solid #e7e7e7}
.welcome .welcome-globe .globe{top:-20px;width:auto;margin-left:-122px}
.footer-wrapper .zone-footer .footer-container .block{float:none;width:100%;margin:0 0 30px}
div.photo{background:none repeat scroll 0 0 #FFF;border:1px solid #E7E7E7;height:200px;width:450px;margin:20px 0 10px;padding:3px}
div.company-photo-container{max-width:450px;max-height:200px}
div.company-photo-container img{width:450px;height:200px}
.main-menu-wrapper{height:135px}
.user-links,.logo,.copyright-wrapper .zone-copyright .copyright-left-container,.copyright-wrapper .zone-copyright .copyright-right-container{text-align:center}
.logo a img,div#header-style-six .logo img{margin:10px 0}
}
@media all and max-width 600px {
.welcome .welcome-globe .globe{top:1px;width:200px;margin-left:-100px}
div#header-style-six .logo img{margin:10px 0}
div#header-style-seven .logo img{margin:10px 0 0 220px}
.single-company .company-info .company-info-social{float:none;margin:0 auto}
.single-company .company-info .company-info-description{margin-left:0;margin-top:15px}
.single-company .company-info .company-info-social .facebook,.single-company .company-info .company-info-social .twitter,.single-company .company-info .company-info-social .google{height:38px}
}
@media all and max-width 500px {
.user-links .register .register-form{right:0;background-position:right top}
.search .advanced-search input{float:right;width:59.5%;margin:5px 14% 5px 0;padding:5px 1.5%}
.search .advanced-search .jquery-selectbox{width:59.5%!important;margin-top:10px;margin-bottom:10px}
.search .advanced-search .location-fields .jquery-selectbox{width:59.5%!important;margin:10px 1% 5px 0}
.search .advanced-search .separator{display:none}
.search .advanced-search .submit{margin:0 14% 5px 0}
.welcome .welcome-globe .globe{top:51px;width:100px;margin-left:-50px}
.blog-post .blog-post-info .social-links{float:none;display:block;text-align:center}
div#header-style-six .logo img{margin:10px 0}
div#header-style-seven .logo img{margin:10px 0 0 160px}
div.photo{background:none repeat scroll 0 0 #FFF;border:1px solid #E7E7E7;height:170px;width:350px;margin:20px 0 10px;padding:3px}
div.company-photo-container{max-width:350px;max-height:170px}
div.company-photo-container img{width:350px;height:170px}
.single-company .company-info .company-info-social{float:none;margin:0 auto}
.single-company .company-info .company-info-description{margin-left:0;margin-top:15px}
.single-company .company-info .company-info-social .facebook,.single-company .company-info .company-info-social .twitter,.single-company .company-info .company-info-social .google{height:38px}
}
@media all and max-width 450px {
.employee-info .employee-info-social{float:none;margin:0 auto 10px}
.employee-info .employee-info-description{margin-left:0}
.pricing-table .pricing-column .pricing-cost{font-size:1em}
.header-top-right{border-top:none;padding-left:0;padding-right:0;margin-left:2%;margin-right:2%}
.social-links{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
.languages{display:block}
.languages .en{border-left:1px solid #e6e6e6}
.our-directory .subscription-table .subscription-column{float:none;width:100%}
.shortcodes input,.shortcodes input.row-last{display:block;width:auto;margin:40px auto 0}
div#header-style-seven .logo img{margin:10px 0 0 120px}
div.photo{background:none repeat scroll 0 0 #FFF;border:1px solid #E7E7E7;height:130px;width:280px;margin:20px 0 10px;padding:3px}
div.company-photo-container{max-width:280px;max-height:130px}
div.company-photo-container img{width:280px;height:130px}
.single-company .company-info .company-info-social{float:none;margin:0 auto}
.single-company .company-info .company-info-description{margin-left:0;margin-top:15px}
.single-company .company-info .company-info-social .facebook,.single-company .company-info .company-info-social .twitter,.single-company .company-info .company-info-social .google{height:38px}
}

/*******************************
THIS FILE CONTAINS MEDIA QUERIES
*******************************/

@media all and (max-width: 999px) {

	/***********************
	2. HEADER ELEMENTS STYLE
	***********************/

	/* ADVERTISEMENT BANNER STYLE */

	.adverisement a img {
		margin: 30px auto;
	}
	.main-menu select.mnav{display:block}
	.menu-menu-container{display:block}
	/* MAIN MENU STYLE */

	/* First level links */
	
    .main-menu ul li a {
		padding: 25px 11px 25px;
	}

	.main-menu ul li.active a {
		padding: 25px 13px 22px;
	}
    
    div#header-style-three .main-menu ul li a {
        padding: 14px 13px 15px;
    }

    div#header-style-three .main-menu ul li.active a {
        padding: 14px 27px 15px;
    }

    div#header-style-six .main-menu ul li a {
        padding: 14px 13px 15px;
    }

    div#header-style-six .main-menu ul li.active a {
        padding: 14px 27px 15px;
    }

    div#header-style-seven .menu-menu-container {
        /*width: 500px;*/
        float: right;
    }

	/*********************
	CONTENT ELEMENTS STYLE
	*********************/


	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: 1px;
		width: 200px;
		margin-left: -100px;
	}

    div#header-style-six .logo img {
        margin: 10px 280px;
    }

    div#header-style-seven .logo img {
        margin-top: 30px;
    }

    div.photo {
        padding: 3px;
        border: 1px solid #e7e7e7;
        background: white;
        margin: 20px 0 10px 0;
    }

    div.company-photo-container {
        width: 475px;
        height: 250px;
    }

    div.company-photo-container img {
        display: block;
        height: 250px;
        width: 100%;
    }

    .user-links {
        width: 100%;
    }

    /* "COMPANY BLOG POST" BLOCK */

    .company-blog-post .company-blog-post-social a {
        width: 35px;
    }

    /* "COMPANY TABS" BLOCK */

    ul.company-tabs li a {
        padding: 0 15px;
    }

    .search .default-search .input-text {
        width: 25%;
    }

    .search .default-search .submit {
        width: 15%;
    }

}

@media only screen and (max-width: 999px) and (min-width: 768px) {

    .main-menu select.mnav {
        width: 60%;
        float: right;
        margin: 30px 0;
    }

    #login-panel > div {
        margin: 0 auto 20px !important;
        float: none !important;
    }
	ul.half li{width:96%;}
}

@media all and (max-width: 767px) {
	ul.half li{width:96%;}
    #login-panel > div {
        margin: 0 auto 20px !important;
        float: none !important;
    }

    #searchdisable {
        height: 140px;
    }

	h1 {
		font-size: 2.2857em;
	}

    /* "COMPANY TABS" BLOCK */

    ul.company-tabs li a {
        padding: 0 5px;
    }

	/********************
	HEADER ELEMENTS STYLE
	********************/

	.header-top-right {
		text-align: center;
		border-top: 1px solid #e6e6e6;
		padding-left: 2%;
		padding-right: 2%;
		margin-left: 0;
		margin-right: 0;
	}

	/* USER LINKS STYLE */

	.user-links {
		text-align: center;
	}

	/* LANGUAGE SELECTOR STYLE */

	.languages {
		float: none;
	}

	/* LOGO STYLE */

	.logo {
		text-align: center;
	}

    .logo a {
        display: block;
    }

    .logo a img {
        margin: 10px 0;
    }

    div#header-style-six .logo img {
        margin: 10px 0px;
    }

    div#header-style-seven .logo img {
        margin: 10px 0px;
    }

	/* ADVERTISEMENT BANNER STYLE */

	.adverisement a img {
		margin: 0 0 10px;
	}

	/*********************
	CONTENT ELEMENTS STYLE
	*********************/

	.search-wrapper {
		background-color: transparent;
	}

		.search-wrapper .zone-search {
			background-color: rgba(77, 77, 77, 0.9);
		}

	.sidebar-container {
		margin-top: 20px;
	}

	/* SEARCH STYLE */

    /* Default search form */
    .search .default-search .input-text,
    .search .default-search .input-text-new  {
        width: 43%;
        margin: 20px 2% 0;
    }

    .search .default-search .jquery-selectbox {
        width: 43% !important;
        margin: 20px 2% 0;
    }

    .search .default-search .submit {
        float: right;
        width: 46%;
        margin-right: 2%;
    }

	/* Advanced search form */
	.search .advanced-search .slider {
		width: 52.5%;
	}

	.search .advanced-search .slider-value {
		width: 17.0625%;
	}

	/* "INDUSTRIES TABS" BLOCK */

	.industries-tabs ul li {
		width: 20%;
		height: 40px;
	}

	.industries-tabs ul li:hover {
		background-image: none;
	}

		.industries-tabs ul li a.sports,
		.industries-tabs ul li a.offices {
			border-left: 1px solid #e7e7e7;
		}

	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: -20px;
		width: auto;
		margin-left: -122px;
	}

	/********************
	FOOTER ELEMENTS STYLE
	********************/

	.footer-wrapper .zone-footer .footer-container .block {
		float: none;
		width: 100%;
		margin: 0 0 30px 0;
	}

	.copyright-wrapper .zone-copyright .copyright-left-container,
	.copyright-wrapper .zone-copyright .copyright-right-container  {
		text-align: center;
	}

    div#header-style-six .logo img {
        margin: 10px 0px;
    }
    div#header-style-seven .logo img {
        margin: 10px 270px;
    }

    div.photo {
        background: none repeat scroll 0 0 white;
        border: 1px solid #E7E7E7;
        height: 200px;
        width: 450px;
        margin: 20px 0 10px;
        padding: 3px;
    }

    div.company-photo-container {
        max-width: 450px;
        max-height: 200px;
    }

    div.company-photo-container img {
        width: 450px;
        height: 200px;
    }

    .main-menu-wrapper {
        height: 135px;
    }
}

@media all and (max-width: 600px) {

	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: 1px;
		width: 200px;
		margin-left: -100px;
	}

    div#header-style-six .logo img {
        margin: 10px 0px;
    }
    div#header-style-seven .logo img {
        margin: 10px 0px 0px 220px;
    }

    .single-company .company-info .company-info-social {
        float: none;
        margin: 0 auto;
    }

    .single-company .company-info .company-info-description {
        margin-left: 0;
        margin-top: 15px;
    }

    .single-company .company-info .company-info-social .facebook, .single-company .company-info .company-info-social .twitter, .single-company .company-info .company-info-social .google {
        height: 38px;
    }


}

@media all and (max-width: 500px) {

    #login-panel > div {
        margin: 0 auto 20px !important;
        float: none !important;
        width: 90%;
    }

    #login-panel > div > div {
        width: 100%;
    }

	.user-links .register .register-form {
		right: 0;
		background-position: right top;
	}

	/*********************
	CONTENT ELEMENTS STYLE
	*********************/

	/* "SEARCH" BLOCK */

	.search .advanced-search input {
		float: right;
		width: 59.5%;
		padding: 5px 1.5%;
    	margin: 5px 14% 5px 0;
	}

	.search .advanced-search .jquery-selectbox {
		width: 59.5% !important;
		margin-top: 10px;
		margin-bottom: 10px;
	}

		.search .advanced-search .location-fields .jquery-selectbox {
			width: 59.5% !important;
			margin: 10px 1% 5px 0;
		}

	.search .advanced-search .separator {
		display: none;
	}

	.search .advanced-search .submit {
		margin: 0 14% 5px 0;
	}

	/* "WELCOME" BLOCK */

	.welcome .welcome-globe .globe {
		top: 51px;
		width: 100px;
		margin-left: -50px;
	}

	/* "BLOG POST" BLOCK */

	.blog-post .blog-post-info .social-links {
		float: none;
		display: block;
		text-align: center;
	}

    div#header-style-six .logo img {
        margin: 10px 0px;
    }

    div#header-style-seven .logo img {
        margin: 10px 0px 0px 160px;
    }

    div.photo {
        background: none repeat scroll 0 0 white;
        border: 1px solid #E7E7E7;
        height: 170px;
        width: 350px;
        margin: 20px 0 10px;
        padding: 3px;
    }

    div.company-photo-container {
        max-width: 350px;
        max-height: 170px;
    }

    div.company-photo-container img {
        width: 350px;
        height: 170px;
    }

    .single-company .company-info .company-info-social {
        float: none;
        margin: 0 auto;
    }

    .single-company .company-info .company-info-description {
        margin-left: 0;
        margin-top: 15px;
    }

    .single-company .company-info .company-info-social .facebook, .single-company .company-info .company-info-social .twitter, .single-company .company-info .company-info-social .google {
        height: 38px;
    }

}

@media all and (max-width: 450px) {

	/*****************
	1. COMMON ELEMENTS
	*****************/

	/* "EMPLOYEE INFO" BLOCK */

	.employee-info .employee-info-social {
		float: none;
		margin: 0 auto 10px;
	}

	.employee-info .employee-info-description {
		margin-left: 0;
	}

	/* PRICING TABLE */

	.pricing-table .pricing-column .pricing-cost {
		font-size: 1em;
	}

	/***********************
	2. HEADER ELEMENTS STYLE
	***********************/

	.header-top-right {
		border-top: none;
		padding-left: 0;
		padding-right: 0;
		margin-left: 2%;
		margin-right: 2%;
	}

	/* SOCIAL LINKS STYLE */

	.social-links {
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}

	/* LANGUAGE SELECTOR STYLE */

	.languages {
		display: block;
	}

		.languages .en {
			border-left: 1px solid #e6e6e6;
		}

	/************************
	3. CONTENT ELEMENTS STYLE
	************************/

	/* OUR DIRECTORY BLOCK STYLE */

	.our-directory .subscription-table .subscription-column {
		float: none;
		width: 100%;
	}

	/* "SHORTCODES" BLOCK */

	.shortcodes input,
	.shortcodes input.row-last {
		display: block;
		width: auto;
		margin: 40px auto 0;
	}

    div#header-style-seven .logo img {
        margin: 10px 0px 0px 120px;
    }


    div.photo {
        background: none repeat scroll 0 0 white;
        border: 1px solid #E7E7E7;
        height: 130px;
        width: 280px;
        margin: 20px 0 10px;
        padding: 3px;
    }

    div.company-photo-container {
        max-width: 280px;
        max-height: 130px;
    }

    div.company-photo-container img {
        width: 280px;
        height: 130px;
    }

    .single-company .company-info .company-info-social {
        float: none;
        margin: 0 auto;
    }

    .single-company .company-info .company-info-description {
        margin-left: 0;
        margin-top: 15px;
    }

    .single-company .company-info .company-info-social .facebook, .single-company .company-info .company-info-social .twitter, .single-company .company-info .company-info-social .google {
        height: 38px;
    }

}

@media (max-width: 999px) {
ul.menu_1 li {
    padding:10px 0 !important;
}
}